<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <p style="font-weight:bold">GSGSoft cryptography engines</p>
    <br>
    <form th:method="POST" th:action="@{/blowfish}" th:object="${cipher}">
        <p><label>Введите текст: </label></p>
        <p><textarea rows="50" cols="100" th:field="${cipher.Cipher}"></textarea></p>
        <select th:object="${cipher}" th:field="*{Mode}">
            <option th:each="operation:${Operation}" th:value="${operation.getOperation()}" th:text="${operation.getName()}"></option>
        </select>
        <button type="submit">Выполнить</button>
    </form>
</div>
</body>
</html>