<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <link th:href="@{/styles/btn.css}" rel="stylesheet"/>
    <link th:href="@{/styles/button_style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <a th:href="@{/crypto}"><img class="button_image" width="90" height="50"></a>
            <p style="font-weight: bolder; color: darkorange">Блочные алгоритмы шифрования - реализация и исследование</p>
            <p style="font-weight: bolder; font-size: xx-large; color: darkorange">Ключ успешно установлен!</p>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>