<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <link th:href="@{/styles/btn.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <p style="font-weight:bolder; color: darkgrey">Блочные алгоритмы шифрования - реализация и исследование</p>
            <p style="font-weight:bold; color: darkgrey">RC-5</p>
            <form th:method="post" th:action="@{/crypto/upload}" enctype="multipart/form-data">
                <label class="input-file">
                    <input type="hidden" th:name="Alg" value="rc5"/>
                    <input class="input_file" type="file" th:name="file"/>
                    <span>Выберите файл</span>
                    <input type="submit" value="загрузить"/>
                </label>
            </form>
            <form th:method="POST" th:action="@{/rc5}" th:object="${cipher}">
                <p><label style="color: darkgrey">Введите текст: </label></p>
                <p><textarea class="textarea" rows="20" cols="80" placeholder="введите текст..."
                             th:field="${cipher.Cipher}"></textarea></p>
                <select th:object="${cipher}" th:field="*{Mode}">
                    <option th:each="operation:${Operation}" th:value="${operation.getOperation()}"
                            th:text="${operation.getName()}"></option>
                </select>
                <br/>
                <br/>
                <label style="color: darkgrey">W (длина слова): </label>
                <select th:object="${cipher}" th:field="*{Word}">
                    <option th:each="params:${Params}" th:value="${params.getIndex()}"
                            th:text="${params.getParam()}"></option>
                </select>

                <label style="color: darkgrey">--- R число раундов: </label>
                <select th:object="${cipher}" th:field="*{Rounds}">
                    <option th:each="params:${Parameters}" th:value="${params.getIndex()}"
                            th:text="${params.getParam()}"></option>
                </select>

                <label style="color: darkgrey">--- b длина ключа в байтах: </label>
                <select th:object="${cipher}" th:field="*{KeyBits}">
                    <option th:each="params:${Parameters}" th:value="${params.getIndex()}"
                            th:text="${params.getParam()}"></option>
                </select>
                <br/>
                <br/>
                <input type="submit" value="Выполнить"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>