<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <link th:href="@{/styles/btn.css}" rel="stylesheet"/>
    <link th:href="@{/styles/button_style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <a th:href="@{/rc5}"><img class="button_image" width="90" height="50"></a>
            <p style="font-weight: bold; color: darkorange">Результат RC-5</p>
            <p><textarea class="textarea" rows="25" cols="70" th:text="${cipher}"></textarea></p>
            <form th:method="POST" th:action="@{/crypto/download}" th:object="${path}">
                <input type="hidden" th:value="${path}" name="path">
                <button class="button" type="submit">Скачать файл</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>