<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <link th:href="@{/styles/algor.css}" rel="stylesheet" />
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <div th:class="Algorithms" align="center" style="vertical-align:middle; display:table-cell;" >
            <p style="font-weight:bold;font-size: 55px"><a style="color: black" th:href="@{/des}">DES</a></p>
            <p style="font-weight:bold;font-size: 55px"><a style="color: black" th:href="@{/blowfish}">BlowFish</a></p>
            <p style="font-weight:bold;font-size: 55px"><a style="color: black" th:href="@{/rc5}">RC-5</a></p>
            <p style="font-weight:bold;font-size: 55px"><a style="color: black" th:href="@{/idea}">IDEA</a></p>
            <p style="font-weight:bold;font-size: 55px"><a style="color: black" th:href="@{/grassHop}">GrassHopper</a></p>
        </div>
        </div>
    </div>
</div>
</body>
</html>