<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <link th:href="@{/styles/button_style.css}" rel="stylesheet"/>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <img class="header_image" width="1500" height="50"/>
            <div th:class="Algorithms" align="center" style="vertical-align:middle; display:table-cell;">
                <p title="Размер блока 64. 16 раундов. ключ 56 бит" style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/des}">DES</a></p>
                <p title="Размер блока 64. 16 раундов. ключ 32-448" style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/blowfish}">BlowFish</a></p>
                <p style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/rc5}">RC-5</a></p>
                <p title="Размер блока 64. 16 раундов. ключ 128 бит" style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/idea}">IDEA</a></p>
                <p title="Размер блока 128. 10 раундов. ключ 256 бит" style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/grassHop}">GrassHopper</a></p>
                <p title="Посчитать расстояние хемминга" style="font-weight:bold;font-size: 55px"><a style="color: darkorange" th:href="@{/crypto/hemming}">Расстояние Хемминга</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>