<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <p style="font-weight:bold;color: darkgrey">GSGSoft cryptography engines</p>
            <p style="font-weight:bold;color: darkgrey">IDEA</p>
            <form th:method="POST" th:action="@{/idea}" th:object="${cipher}">
                <p><label>Введите текст: </label></p>
                <p><textarea rows="40" cols="90" th:field="${cipher.Cipher}"></textarea></p>
                <select th:object="${cipher}" th:field="*{Mode}">
                    <option th:each="operation:${Operation}" th:value="${operation.getOperation()}"
                            th:text="${operation.getName()}"></option>
                </select>
                <button type="submit">Выполнить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>