<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/algor.css}" rel="stylesheet"/>
    <link th:href="@{/styles/btn.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div align="center">
    <div th:class="mouse-parallax">
        <div th:class="mouse-parallax-bg">
            <p style="font-weight:bolder;color: darkgrey">Блочные алгоритмы шифрования - реализация и исследование</p>
            <p style="font-weight:bold;color: darkgrey">GrassHopper</p>
            <form th:method="POST" th:action="@{/grassHop}" th:object="${cipher}">
                <p><label style="font-weight:bold; color: darkgrey">Введите текст: </label></p>
                <p><textarea class="textarea" rows="40" cols="90" placeholder="введите текст..." th:field="${cipher.Cipher}"></textarea></p>
                <select th:object="${cipher}" th:field="*{Mode}">
                    <option th:each="operation:${Operation}" th:value="${operation.getOperation()}"
                            th:text="${operation.getName()}"></option>
                </select>
                <br/>
                <input type="submit" value="Выполнить"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>