.mouse-parallax {
    height: 1000px;
    position: relative;
    overflow: hidden;
}
.mouse-parallax-bg {
    position: absolute;
    background-image: url(fonts/fon6.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;
}

.textarea{
    background: url(fonts/fon_text1.png);
    color: aliceblue;
    font-size: x-large;
}