.Algorithms {
    position: fixed;
    top: 20%;
    left: 35%;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.main-class {
    font-family:"Times New Roman", sans-serif;
    color: darkorange;
    font-size: 90px;
    position: fixed;
    top: 45%;
    left: 20%;
}